# Server Configuration
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sis_tcc
DB_PORT=3306

# Paths Configuration
PUBLIC_PATH=src/public
VIEWS_PATH=src/views
UPLOADS_PATH=uploads

# Node Environment
NODE_ENV=development
