# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=sistcc_db
DB_PORT=3306

# Configurações de Caminhos
PUBLIC_PATH=src/public
VIEWS_PATH=src/views
UPLOADS_PATH=uploads
